<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="StoreDTO" type="persistence.dto.StoreDTO"/>
        <typeAlias alias="UserDTO" type="persistence.dto.UserDTO"/>
        <typeAlias alias="OptionDTO" type="persistence.dto.OptionDTO"/>
        <typeAlias alias="MenuDTO" type="persistence.dto.MenuDTO"/>
        <typeAlias alias="MenuHasOptionDTO" type="persistence.dto.OrderedOption"/>
        <typeAlias alias="OrderDTO" type="persistence.dto.OrderDTO"/>
        <typeAlias alias="OrderedMenuDTO" type="persistence.dto.OrderedMenuDTO"/>
        <typeAlias alias="OrderedOptionDTO" type="Database.persistence.dto.OrderedOptionDTO"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/delivery?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/><property name="username" value="delivery_con"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/user.xml"/>
        <mapper resource="sqlmapper/store.xml"/>
        <mapper resource="sqlmapper/option.xml"/>
        <mapper resource="sqlmapper/menu.xml"/>
        <mapper resource="sqlmapper/menuHasOption.xml"/>
        <mapper resource="sqlmapper/order.xml"/>
        <mapper resource="sqlmapper/orderedMenu.xml"/>
        <mapper resource="sqlmapper/orderedOption.xml"/>
    </mappers>
</configuration>