<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MenuMapper">
    <insert id="insertMenuAll" parameterType="menuDTO">
        INSERT INTO `menu` (`menu_name`, `store_name`, `category`, `menu_price`, `stock`)
        VALUES (#{menu_name}, #{store_name}, #{category}, ${menu_price}, ${stock});
    </insert>

    <select id="showMenu" resultType="MenuOptionDTO">
        select category, menu.menu_name, menu.menu_price, `menu_has_option`.option_name
        from menu
        left join menu_has_option
        on menu.menu_name = menu_has_option.menu_name
        order by menu.category, menu.menu_name
    </select>

    <select id="getStock" resultType="int" parameterType="String">
        select stock from menu where menu_name like #{menu_name}
    </select>

    <update id="updateStock" parameterType="Map">
        UPDATE menu SET stock = ${new_stock} WHERE menu_name like #{menu_name}
    </update>

    <select id="getMenuPrice" parameterType="String" resultType="int">
        SELECT menu_price FROM `menu` WHERE menu_name like #{menu_name}
    </select>

    <update id="updateMenu">
        UPDATE menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="new_menu_name != null">
                menu_name = #{new_menu_name},
            </if>
            <if test="menu_price != null">
                menu_price = ${new_price}
            </if>
        </trim>
        WHERE menu_name like #{menu_name}
    </update>

    <update id="judgeMenu" parameterType="Map">
        UPDATE menu SET state = ${state} WHERE menu_name = #{menu_name}
    </update>

    <select id="showAcceptedMenu" resultType="MenuDTO">
        SELECT * FROM `menu` WHERE isAccept = 1
    </select>

    <select id="showPendingMenu" resultType="MenuDTO">
        SELECT * FROM `menu` WHERE isAccept = 0
    </select>

</mapper>